<div class="card-container">
  <form [formGroup]="userForm" class="form" (ngSubmit)="onSubmit()">
    <img
      [src]="userForm.get('imageUrl').value"
      class="image"
      alt="Image"
      *ngIf="imageUrl"
      (click)="img.click()"
    />
    <input
      #img
      type="file"
      (change)="onImageSelected($event)"
      [ngStyle]="!imageUrl ? { display: 'block' } : { display: 'none' }"
    />
    <button class="btn" *ngIf="newImage" (click)="uploadImage()">
      Set as image profile
    </button>
    <p *ngIf="successMessage">Tu imagen ha sido actualizada!</p>

    <div class="form-group">
      <div style="border-bottom: 1px solid #d3d3d3">
        <p class="text" *ngIf="userRole === 'patient'">
          Tu doctor es: <span>{{ userDoctor }}</span>
        </p>
      </div>

      <div class="item">
        <h2 *ngIf="!editMode">{{ user?.name }}</h2>
        <input
          *ngIf="editMode"
          type="name"
          formControlName="name"
          placeholder="Nombre"
        />
      </div>
      <div class="item">
        <p *ngIf="!editMode"><strong>Correo</strong>: {{ user?.email }}</p>
        <input
          *ngIf="editMode"
          type="email"
          formControlName="email"
          placeholder="Email"
        />
      </div>

      <div class="item">
        <p *ngIf="!editMode"><strong>Celular</strong>: {{ user?.phone }}</p>
        <input
          *ngIf="editMode"
          type="phone"
          formControlName="phone"
          placeholder="Telefono"
        />
      </div>

      <div class="item" *ngIf="userRole === 'patient'">
        <p *ngIf="userRole === 'patient'">{{ user?.lesion }}</p>
        <input
          *ngIf="editMode"
          type="lesion"
          formControlName="lesion"
          placeholder="Lesion"
        />
      </div>
      <!-- 
      <div class="item">
        <button class="btn">Asignar Ejercicios</button>
      </div> -->
    </div>
  </form>
</div>
