<div class="container">
  <div *ngIf="userRole !== 'patient'" class="form">
    <h1>Selecciona un paciente</h1>
    <form [formGroup]="adminForm">
      <div class="form-group" *ngIf="patients">
        <p-dropdown
          formControlName="patient"
          [options]="patients"
          placeholder="Selecciona un Paciente"
          optionLabel="name"
          [filter]="true"
          (onChange)="onPatientSelect($event.target.value)"
        ></p-dropdown>
        <!-- <select class="select-patients" formControlName="patient">
          <option *ngFor="let patient of patients" value="{{ patient.id }}">
            {{ patient.name }}
          </option>
        </select> -->
      </div>

      <ng-container *ngIf="selectedPatient">
        <div class="patient-container">
          <img
            src="{{
              patientImageUrl
                ? patientImageUrl
                : 'https://picsum.photos/300/250'
            }}"
            alt=""
          />
          <p><span>Nombre: </span> {{ selectedPatient.name }}</p>
          <p><span>Correo: </span>{{ selectedPatient.email }}</p>
          <p><span>Telefono: </span>{{ selectedPatient.phone }}</p>
          <textarea
            formControlName="note"
            placeholder="Escribe una nota para tu paciente"
          >
          </textarea>
          <button class="btn" (click)="onSubmit()">Guardar</button>
        </div>
      </ng-container>
    </form>
  </div>
  <div
    class="notes"
    *ngIf="patientNotes && patientNotes.length > 0; else noNotes"
  >
    <h1>Notas anteriores</h1>
    <div *ngFor="let nota of patientNotes" class="note">
      <h3>Nota</h3>
      <div class="nota" *ngIf="patientNotes && patientNotes.length > 0">
        <p>{{ nota.note }}</p>
        <p>Fecha de creacion: {{ nota.created_at | date : "dd/MM/yyyy" }}</p>
      </div>
    </div>
  </div>

  <ng-template #noNotes>
    <!-- <div
      *ngIf="selectedPatient"
      class="notes"
      [ngClass]="{ 'no-notes': patientNotes.length < 1 }"
    > -->
    <h1>No hay notas</h1>
    <!-- </div> -->
  </ng-template>
</div>
