<div class="container">
  <div class="logo">
    <img class="logo" src="../../assets/images/logo2.png" alt="logo" />
  </div>
  <div class="flex">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-container">
        <div class="user">
          <h1 class="title">Inicia Sesión</h1>
          <p style="margin-bottom: 1rem">Ingresa tus credenciales</p>
          <label class="label" style="margin-top: 1rem" for="email"
            >Email:</label
          >
          <input
            type="text"
            class="form-control"
            id="email"
            formControlName="email"
            placeholder="ejemplo@gmail.com"
          />
        </div>
        <div class="pass">
          <label class="label" for="password">Contraseña:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
          />
        </div>
      </div>

      <button
        class="btn btn-login"
        type="submit"
        value="Login"
        (click)="login()"
      >
        Login
      </button>
    </form>

    <div class="line"></div>

    <a class="links" style="margin-top: 1rem" [routerLink]="['/register']"
      >Crear cuenta</a
    >

    <p class="links" style="margin-top: 1rem">
      {{ errorMessage }}
    </p>
  </div>
</div>
