<h1 style="padding: 2rem; text-align: center">
  {{ user.role === "patient" ? "Ejercicios asignados" : "Asignar ejercicios" }}
</h1>
<div class="videos" *ngIf="true">
  <p-card header="{{ video.name }}" *ngFor="let video of videos; let i = index">
    <div class="video">
      <iframe [src]="video.url" allowfullscreen></iframe>
      <button
        *ngIf="user.role !== 'patient'; else elseBlock"
        class="btn"
        (click)="selectVideo(video.id)"
      >
        Asignar video a paciente
      </button>
      <div class="todo" *ngIf="videoSelected == video.id" [@inOutAnimation]>
        <div class="form-group" *ngIf="user.role !== 'patient'; else elseBlock">
          <form [formGroup]="userForm">
            <h3>Selecciona un paciente para asignarle este video</h3>
            <p-dropdown
              class="select-patients"
              formControlName="patient"
              [options]="patients"
              placeholder="Selecciona un paciente"
              optionLabel="name"
              [filter]="true"
              (change)="onPatientSelect(video.id, $event.target.value)"
            ></p-dropdown>

            <form [formGroup]="ejercicioForm">
              <div class="ejercicios-info" *ngIf="true">
                <div class="repe">
                  <label for="repeticiones">Repeticiones</label>
                  <p-dropdown
                    class="select-patients"
                    formControlName="repeticiones"
                    [options]="numbers"
                    placeholder="Numero de repeticiones"
                    [filter]="true"
                    optionLabel="name"
                  ></p-dropdown>
                </div>
                <div class="series">
                  <label for="series">Series</label>
                  <p-dropdown
                    class="select-patients"
                    formControlName="series"
                    [options]="numbers"
                    placeholder="Numero de Series"
                    optionLabel="name"
                    [filter]="true"
                  ></p-dropdown>
                </div>
              </div>
              <div class="comentarios">
                <label for="comentarios">Comentarios</label>
                <textarea
                  name="comentarios"
                  class="select-patients"
                  formControlName="comentarios"
                ></textarea>
              </div>
            </form>

            <button
              *ngIf="true"
              class="btn"
              (click)="assignVideo(video.id, userForm.value.patient)"
              [disabled]="!selectedPatient"
            >
              Asignar
            </button>
          </form>
        </div>
      </div>

      <ng-template #elseBlock>
        <div class="patient-info">
          <p>Series: {{ video.series }}</p>
          <p>Repeticiones: {{ video.repeticiones }}</p>
        </div>
      </ng-template>
    </div>
  </p-card>
</div>
