:host {
  width: 100%;
}

:host::ng-deep {
  .p-dropdown {
    width: 100%;
  }

  p-card {
    max-width: 350px;
  }
}

.videos {
  display: flex;
  gap: 1rem;
  padding: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.video {
  border-radius: 10px;
  width: 100%;
  padding: 0.5rem;
  // box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
  //   rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.video-info {
  min-height: 100px;
  background-color: whitesmoke;
  border-radius: 2px;
  padding: 1rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 600;
}

.select-patients {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
}

.btn {
  padding: 0.8rem;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  margin-top: 1rem;
  color: black;
  width: 100%;
  transition: background-color 0.5s ease-in-out;
}

.btn:hover {
  background-color: #d3d3d3;
}

.ejercicios-info {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-direction: column;
}

.ejercicios-info input {
}

.isActive {
  opacity: 50%;
}
.icon {
  width: 32px;
}

.repe,
.series {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

iframe {
  width: 100%;
  box-sizing: border-box; /* Optional: include padding and border in the width */
  height: 200px;
}

.patient-info {
  display: flex;
  gap: 1rem;
  color: black;
}

.patient-info span {
  font-weight: 600;
}
select,
textarea {
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #d3d3d3;
}

@media (max-width: 768px) {
  .card-container {
    justify-content: center;
    /* other styles for smaller screens */
  }

  .videos {
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  :host {
    margin-top: 3rem;
    ng-deep {
      p-card {
        min-width: 30%;
      }
    }
  }
}
