.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 100%;
  font-size: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
}

.image {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  justify-content: center;
  border-bottom: 1px solid #d3d3d1;
  border-radius: 0 0 100px 100px;
}

.img {
  border-radius: 50%;
  width: 50px;
  margin: 1rem;
  height: 50px;
}

.image-info {
  font-size: 1rem;
  margin: 1rem;
}

.menus {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 1.8rem;
  font-size: 1.4rem;
}

.text {
  font-weight: 300;
}

.copyright {
  flex: 1;
  margin-top: auto;
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.item {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  transition: color 0.2s ease-in-out;
}

.item a {
  font-weight: 400;
}

.item:hover {
  color: #d3d3d3;
}
.text:hover {
  color: #92e3a9;
}
