<div class="main-container">
  <div class="main-logo">
    <img
      style="width: 64px; filter: hue-rotate(85deg)"
      src="../../assets/images/logo2.png"
      alt="logo"
    />
    <h3 class="logo">Terapiapp</h3>
  </div>
  <div class="image">
    <div class="image-box">
      <img
        class="img"
        src="{{ imageUrl }}
      "
        alt="logo"
      />
    </div>
    <div class="image-info">
      <span class="fa-solid fa-user"></span>
      <h4>{{ user?.name }}</h4>
      <button class="btn" [routerLink]="['/perfil']">
        <span class="text">Ver Perfil</span>
      </button>
    </div>
  </div>

  <div class="menus">
    <div class="item" [routerLink]="['/dashboard']">
      <img style="width: 32px" src="../../assets/svg/home.svg" alt="logo" />
      <a>Inicio</a>
    </div>
    <div class="item" [routerLink]="['/notas']">
      <img
        style="width: 32px"
        src="../../assets/svg/notes.svg"
        alt="logo"
      /><a>{{
        role === "admin" || role === "doctor" ? "Pacientes" : "Notas de Doctor"
      }}</a>
    </div>
    <div class="item" [routerLink]="['/perfil']">
      <img style="width: 32px" src="../../assets/svg/perfil.svg" alt="logo" />
      <a [routerLink]="['/perfil']">Perfil</a>
    </div>
    <div class="item" [routerLink]="['/ejercicios']">
      <img style="width: 32px" src="../../assets/svg/exercise.svg" alt="logo" />
      <a>Ejercicios</a>
    </div>

    <div *ngIf="role === 'admin'" [routerLink]="['/admin']" class="item">
      <img style="width: 32px" src="../../assets/svg/video.svg" alt="logo" />
      <a>Agregar video</a>
    </div>

    <div *ngIf="role === 'admin'" [routerLink]="['/citas']" class="item">
      <img style="width: 32px" src="../../assets/svg/cita.svg" alt="logo" />
      <a>Citas</a>
    </div>

    <div
      *ngIf="role === 'patient'"
      [routerLink]="['/citaPaciente']"
      class="item"
    >
      <i class="gg-alarm"> </i>
      <a>Ver mi cita</a>
    </div>

    <div class="item">
      <img style="width: 32px" src="../../assets/svg/exit.png" alt="logo" />
      <a class="btn" (click)="logOut()">Cerrar Sesión</a>
    </div>
  </div>

  <!-- <div class="sidebar-image">
    <img src="../../assets/svg/Doctors-bro.svg" alt="" />
  </div> -->

  <div class="copyright">
    <p>© 2024 Terapiapp</p>
  </div>
</div>
