<!-- <div class="main-container" *ngIf="displayMenu">
  <div class="main-logo">
    <img
      style="width: 64px; filter: hue-rotate(85deg)"
      src="../../assets/images/logo2.png"
      alt="logo"
    />
    <h3 class="logo">Terapiapp</h3>
  </div>
  <div class="item" (click)="showSidebar()">
    <img style="width: 32px" src="../../assets/images/menus.png" alt="logo" />
    <a style="font-size: 1rem">Esconder menu</a>
  </div>
  <div class="image" [routerLink]="['/perfil']">
    <div class="image-box">
      <img
        *ngIf="true"
        class="img"
        src="{{ imageUrl }}
      "
        alt="logo"
      />
    </div>
    <div class="image-info">
      <span class="fa-solid fa-user"></span>
      <h4>{{ user?.name }}</h4>
      <button class="btn">
        <span class="text">Ver Perfil</span>
      </button>
    </div>
  </div>

  <div class="menus">
    <div class="item" [routerLink]="['/dashboard']">
      <img style="width: 32px" src="../../assets/svg/home.svg" alt="logo" />
      <a>Inicio</a>
    </div>
    <div class="item" [routerLink]="['/notas']">
      <img
        style="width: 32px"
        src="../../assets/svg/notes.svg"
        alt="logo"
      /><a>{{
        userRole === "admin" || userRole === "doctor"
          ? "Pacientes"
          : "Notas de Doctor"
      }}</a>
    </div>
    <div class="item" [routerLink]="['/perfil']">
      <img style="width: 32px" src="../../assets/svg/perfil.svg" alt="logo" />
      <a [routerLink]="['/perfil']">Perfil</a>
    </div>
    <div class="item" [routerLink]="['/ejercicios']">
      <img style="width: 32px" src="../../assets/svg/exercise.svg" alt="logo" />
      <a>Ejercicios</a>
    </div>

    <div
      *ngIf="userRole === 'admin' || userRole === 'doctor'"
      [routerLink]="['/admin']"
      class="item"
    >
      <img style="width: 32px" src="../../assets/svg/video.svg" alt="logo" />
      <a>Agregar video</a>
    </div>

    <div *ngIf="userRole === 'admin'" [routerLink]="['/citas']" class="item">
      <img style="width: 32px" src="../../assets/svg/cita.svg" alt="logo" />
      <a>Citas</a>
    </div>

    <div
      *ngIf="userRole === 'patient'"
      [routerLink]="['/citaPaciente']"
      class="item"
    >
      <img style="width: 32px" src="../../assets/svg/cita.svg" alt="logo" />
      <a>Ver mi cita</a>
    </div>

    <div
      *ngIf="userRole === 'doctor' || userRole === 'admin'"
      [routerLink]="['/asistente']"
      class="item"
    >
      <img
        style="width: 32px"
        src="../../assets/images/mascot.png"
        alt="logo"
      />
      <a>Mi Asistente</a>
    </div>

    <div class="item" (click)="logOut()">
      <img style="width: 32px" src="../../assets/svg/exit.png" alt="logo" />
      <a class="btn">Cerrar Sesión</a>
    </div>
  </div>

  <!-- <div class="sidebar-image">
    <img src="../../assets/svg/Doctors-bro.svg" alt="" />
  </div> -->

<div class="sidebar-container">
  <div class="profile-pic">
    <img src="{{ imageUrl }}" alt="profile pic" />
  </div>
  <div class="menu">
    <div
      routerLink="/dashboard"
      (click)="setItem(1)"
      class="menu-item"
      [ngClass]="itemSelected == 1 ? 'selected' : ''"
    >
      <img style="width: 32px" src="../../assets/svg/home.svg" alt="logo" />
      <a routerLink="/dashboard">Inicio</a>
    </div>
    <div
      class="menu-item"
      (click)="setItem(2)"
      routerLink="/perfil"
      [ngClass]="itemSelected == 2 ? 'selected' : ''"
    >
      <img style="width: 32px" src="../../assets/svg/perfil.svg" alt="logo" />

      <a routerLink="/perfil">Perfil</a>
    </div>
    <div
      routerLink="/notas"
      (click)="setItem(3)"
      class="menu-item"
      [ngClass]="itemSelected == 3 ? 'selected' : ''"
    >
      <img style="width: 32px" src="../../assets/svg/notes.svg" alt="logo" />
      <a routerLink="/notas">{{
        userRole === "admin" || userRole === "doctor"
          ? "Pacientes"
          : "Notas de Doctor"
      }}</a>
    </div>
    <div
      routerLink="/ejercicios"
      (click)="setItem(4)"
      class="menu-item"
      [ngClass]="itemSelected === 4 ? 'selected' : ''"
    >
      <img style="width: 32px" src="../../assets/svg/exercise.svg" alt="logo" />

      <a routerLink="/ejercicios">Ejercicios</a>
    </div>
    <div
      *ngIf="userRole === 'admin' || userRole === 'doctor'"
      routerLink="/admin"
      (click)="setItem(5)"
      class="menu-item"
      [ngClass]="itemSelected === 5 ? 'selected' : ''"
    >
      <img style="width: 32px" src="../../assets/svg/video.svg" alt="logo" />

      <a routerLink="/admin">Agregar video</a>
    </div>
    <div
      *ngIf="userRole === 'admin' || userRole === 'doctor'"
      [routerLink]="['/citas']"
      (click)="setItem(6)"
      class="menu-item"
      [ngClass]="itemSelected === 6 ? 'selected' : ''"
    >
      <img style="width: 32px" src="../../assets/svg/cita.svg" alt="logo" />

      <a [routerLink]="['/citas']">Citas</a>
    </div>

    <div
      *ngIf="userRole === 'patient'"
      [routerLink]="['/citaPaciente']"
      (click)="setItem(7)"
      class="menu-item"
      [ngClass]="itemSelected === 7 ? 'selected' : ''"
    >
      <img style="width: 32px" src="../../assets/svg/cita.svg" alt="logo" />

      <a [routerLink]="['/citaPaciente']">Ver mis citas</a>
    </div>

    <div
      *ngIf="userRole === 'admin' || userRole === 'doctor'"
      [routerLink]="['/asistente']"
      (click)="setItem(8)"
      class="menu-item"
      [ngClass]="itemSelected === 8 ? 'selected' : ''"
    >
      <img
        style="width: 32px"
        src="../../assets/images/mascot.png"
        alt="logo"
      />
      <a [routerLink]="['/asistente']">Mi Asistente</a>
    </div>

    <div (click)="logOut()" class="menu-item">
      <img style="width: 32px" src="../../assets/svg/exit.png" alt="logo" />

      <a (click)="logOut()">Cerrar Sesión</a>
    </div>
  </div>

  <div class="copyright">
    <p>© 2024 Terapiapp</p>
  </div>
</div>
