:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 2rem;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: flex-start;
}

.videoName {
  padding: 0.7rem;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #d3d3d3;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 0.3rem;
  padding-block: 0.7rem;
  max-width: 50vh;
  min-height: 6vh;
  border: 1px solid #b4d4ff;
  border-radius: 10px;
  margin-top: 1rem;
  background-color: #46b0da;
  color: whitesmoke;
  transition: background-color 0.5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
  transition: box-shadow 0.5s ease-in-out;
  color: #fff;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn:hover {
  background-color: #85bae6;
  text-shadow: 0px 0px 30px #64e4ab;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn-secondary {
  background-color: #ff8c8c;
}
