<div class="container">
  <div class="form">
    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input
          *ngIf="imageFile"
          type="text"
          class="form-control videoName"
          id="videoName"
          formControlName="videoName"
          placeholder="Nombre de video"
          #videoName
        />
        <input
          id="fileInput"
          type="file"
          class="form-control"
          style="display: none"
          formControlName="video"
          (change)="onVideoSelected($event)"
        />
        <!-- <h1 *ngIf="successMessage">Video subido con exito</h1> -->
        <h3 *ngIf="showError">Tu video tiene que ser formato .mp4 !</h3>
        <!-- //poner nombre -->
        <h3 *ngIf="imageFile">Video Seleccionado: {{ imageFile.name }}</h3>
        <div *ngIf="loading" class="load">
          <div class="loader"></div>
        </div>
        <button type="button" class="btn btn-primary" (click)="openFileInput()">
          <div class="button-container">
            <img
              src="../../assets/images/upload.png"
              style="width: 32px; filter: invert(1); margin-right: 1rem"
              alt="logo"
            />
            Selecciona un video
          </div>
        </button>
        <button
          [disabled]="adminForm.invalid"
          [ngStyle]="{ opacity: adminForm.valid ? '1' : '.3' }"
          *ngIf="imageFile"
          type="button"
          class="btn btn-secondary"
          (click)="
            onUpload(
              adminForm.get('videoName').value
                ? adminForm.get('videoName').value
                : imageFile.name
            )
          "
        >
          Subir video
        </button>
      </div>
    </form>
  </div>
</div>

<ng-container>
  <p-toast position="top-right"></p-toast>
</ng-container>
