<div class="container">
  <div class="form">
    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input
          *ngIf="imageFile"
          type="text"
          class="form-control videoName"
          id="videoName"
          formControlName="videoName"
          placeholder="Nombre de video"
          #videoName
        />
        <input
          id="fileInput"
          type="file"
          class="form-control"
          style="display: none"
          formControlName="video"
          (change)="onVideoSelected($event)"
        />
        <h1 *ngIf="successMessage">Video subido con exito</h1>
        <h1 *ngIf="showError">Tu video tiene que ser formato .mp4 !</h1>
        <!-- //poner nombre -->
        <h1 *ngIf="imageFile">Selected Video: {{ imageFile.name }}</h1>
        <button type="button" class="btn btn-primary" (click)="openFileInput()">
          Selecciona un video
        </button>
        <button
          [disabled]="adminForm.invalid"
          [ngStyle]="{ opacity: adminForm.valid ? '1' : '.3' }"
          *ngIf="imageFile"
          type="button"
          class="btn btn-secondary"
          (click)="
            onUpload(
              adminForm.get('videoName').value
                ? adminForm.get('videoName').value
                : imageFile.name
            )
          "
        >
          Subir video
        </button>
      </div>
    </form>
  </div>
</div>
