<div class="container">
  <div class="content">
    <h1>
      Hola,
      <span>
        {{ user?.name }}! <span style="font-size: 50px">&#9996;</span></span
      >
    </h1>

    <div class="card-container">
      <div class="card" [routerLink]="['/notas']">
        <div class="background">
          <img style="height: 300px;" src="../../assets/svg/pediatra.svg" alt="" />
          <p class="option-text">Ver pacientes</p>
        </div>
      </div>
      <div class="card" [routerLink]="['/ejercicios']">
        <div class="background">
          <img class="img" src="../../assets/svg/carlos.svg" alt="" />
          <p class="option-text">Ver Ejercicios</p>
        </div>
      </div>
      <div class="card" [routerLink]="['/admin']">
        <div class="background">
          <img class="img" src="../../assets/svg/video.svg" alt="" />

          <p class="option-text">Agregar video</p>
        </div>
      </div>
    </div>
  </div>
</div>
